<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'course/css/style.css' %}">
</head>
<body>
{% include 'base/header.html' %}
<section style=" width: 90%; margin: 110px auto;">

    <h1 class="text-center" style="font-size: 35px; color: white; margin-bottom: 70px">My List</h1>

    <div class="catalog-container">
        {% if enrolled_courses %}
        {% for course in enrolled_courses %}
        <div class="course">
            <div class="course-video">
                <img  src="https://img.youtube.com/vi/{{ course.video_url }}/0.jpg" alt="Video Thumbnail" style="width: 90%; border-radius:5px;"/>
            </div>
            <div class="course-details">
                <h2>{{ course.name }}</h2>
                <p><strong>Category:</strong> {{ course.get_category_display }}</p>
                <p>{{ course.description }}</p>
                <p><strong>Instructor:</strong> {{ course.instructor.username }}</p>

                <button class="enroll-btn"
                        onclick="window.location.href='{% url 'course_detail' course.id %}';"
                        style= "width: 60%; padding: 2% 3%;">
                    Continue Learning
                </button>

            </div>
        </div>

        {% endfor %}
        {% else %}
        <p>You are not enrolled in any courses.</p>
        {% endif %}
    </div>
</section>
{% include 'base/footer.html' %}
</body>
</html>
