<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/style.css' %}?v=1.0">
    <title>Change Password</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'base/img/icons/logoicon.svg' %}?v=1.0">
</head>
<body>
{% include 'base/header.html' %}

<section>
    <div class="change-person-info">
        <div class="detal-info">
            <h1>Change Password</h1>
            <form method="post" action="{% url 'change-password' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="full_name">Full Name</label>
                    <input type="text" id="full_name" name="full_name" value="{{ user.get_full_name }}" >
                    {% if form.full_name.errors %}
                    <span class="error">{{ form.full_name.errors|striptags }}</span>
                    {% endif %}
                </div>

                <!-- Email Address -->
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" value="{{ form.email.value|default:'' }}" >
                    {% if form.email.errors %}
                    <span class="error">{{ form.email.errors|striptags }}</span>
                    {% endif %}
                </div>

                <!-- Phone -->
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" value="{{ form.phone.value|default:'' }}">
                    {% if form.phone.errors %}
                    <span class="error">{{ form.phone.errors|striptags }}</span>
                    {% endif %}
                </div>

                <!-- Old Password -->
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" id="old_password" name="old_password" value="">
                    {% if form.old_password.errors %}
                    <span class="error">{{ form.old_password.errors|striptags }}</span>
                    {% endif %}
                </div>

                <!-- New Password -->
                <div class="form-group">
                    <label for="new_password1">New Password</label>
                    <input type="password" id="new_password1" name="new_password1" value="">
                    {% if form.new_password1.errors %}
                    <span class="error">{{ form.new_password1.errors|striptags }}</span>
                    {% endif %}
                </div>

                <!-- Confirm New Password -->
                <div class="form-group">
                    <label for="new_password2">Confirm New Password</label>
                    <input type="password" id="new_password2" name="new_password2" value="">
                    {% if form.new_password2.errors %}
                    <span class="error">{{ form.new_password2.errors|striptags }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="submit-btn">Change Password</button>
            </form>
        </div>
    </div>
</section>


</body>
{% include 'base/footer.html' %}
</html>
