<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'base/css/style.css' %}?v=1.0">
    <link rel="icon" type="image/svg+xml" href="{% static 'base/img/icons/logoicon.svg' %}?v=1.0">
    <title>Contact Success</title>
</head>

{% include 'base/header.html' %}
<body>

<section style="position: fixed;top: 200px;color: white;width:100%">
<div style="width:100%;width:100%;text-align: center;">     
    <div>
        <h1>Thank You!</h1>
        <p>Your message has been successfully submitted. We will get back to you soon.</p>
    </div>
</div>
</section>
<div style="height:500px"></div>
</body>
{% include 'base/footer.html' %}

</html>
