{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'base/css/style.css' %}?v=1.0">


<footer>
    <div class="footer-div  ">
        <div class="footer-content">
            <div class="footer-logo">
                <a href="">
                    <h2><span class="color-letter">C</span>ode<span class="color-letter">T</span>ech</h2>
                </a>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a class="Sp-link" href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Contact US</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="#"><img src="{% static 'base/img/icons/facebook.png' %}" alt="Facebook"></a></li>
                    <li><a href="#"><img src="{% static 'base/img/icons/messanger.png' %}" alt="messenger"></a></li>
                    <li><a href="#"><img src="{% static 'base/img/icons/instagram.png' %}" alt="Instagram"></a></li>
                    <li><a href="#"><img src="{% static 'base/img/icons/linkedin.png' %}" alt="Linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
