<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <title>Password Changed</title>
</head>

<body>
    {% include 'base/header.html' %}

    <section>
        <div class="change-person-info">
            <div class="detal-info">
                <h1>Password Changed Successfully</h1>
                <p>Your password has been updated. <a href="{% url 'login' %}">Log in</a> with your new password.</p>
            </div>
        </div>
    </section>

    {% include 'base/footer.html' %}
</body>

</html>
